@background-color1: #E7E4D5;


/*GLOBAL
--------------------------------------------*/
body {
    background-color: @background-color1;
    font-family: 'Bree Serif', serif;

}

.row {
    margin-bottom: 30px;  
}

h2 {
    margin-top: 0px;
}

/*TYPOGRAPHY
--------------------------------------------*/
.title {
    font-size: 50px;
}

.container {
    font-size: 15px;
}

li {
    font-size: 15px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
    display: inline;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img {
    margin-top: 15px;
    height: 100px;
    display: inline;
}

/*FORM
--------------------------------------------*/
p {
    #nameLabel {
        margin-bottom: 1px;
    }
}

    #nameTextField {
        background-color: transparent;
        //border-top: none;
        //border-right: none;
        //border-left: none;
        border-color: #001100;
    }

#addUserButton {
    background-color: transparent;
}



