@background-color1: #dd8822;


/*GLOBAL
--------------------------------------------*/
body {
    background-color: @background-color1;
    font-family: 'Bree Serif', serif;

}

.row {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0px;
}

/*TYPOGRAPHY
--------------------------------------------*/
.title {
    font-size: 10em;
}

.container {
    font-size: 1em;
}

li {
    font-size: 1em;
}
