<!DOCTYPE html>
<html lang="en" ng-app="spillitApp">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Spill.it</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="../static/css/style.css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"/>

    <link rel="stylesheet/less" type="text/css" href="../static/css/style.less"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

    <script>"../static/js/bootstrap.min.js"</script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <script src="../static/js/spillitApp.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

</head>
<body ng-controller="mainController">
<div class="container">
    <div class="row title">
        <div class="col-xs-12">
            <img src="../static/img/logo.png"></img>
            <h2>A game of emotions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p id="nameLabel">Name</p>
            <p><input type="text" id="nameTextField" class="pre"/></p>
            <p><input type="button" value="Join" id="addUserButton" class="pre"/></p>
            <p class="waitGame"> Please wait for the game to start!</p>

            <p><input type="text" id="responseTextField" class="response"/></p>
            <p><input type="button" value="Send Response" id="sendResponseButton" class="response"/></p>
            <p class="waitPlayers"> Please wait for the other players</p>
        </div>
    </div>
</div>
</body>

<script src="../static/js/user_queries.js" type="text/javascript" charset="utf-8"></script>

</html>
