<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spill.it</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <script>"static/js/bootstrap.min.js"</script>
</head>
<body>
<div class="container">
    <div class="row title">
        <div class="col-xs-12">
            <p>Spill.it</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
</div>
</body>
</html>